{% extends 'base.html' %}
{% load humanize %}
    {% block content %}

       
        <br><br><br><br><br><br>

        <div class="container">
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{ product.picture.url }}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ product.name }}</h5>
                      <p class="card-text">{{ product.description }}</p>

                      {% if product.is_sale  %}
                      <p class="card-text">{{ product.sale_price| intcomma }}</p>
                      <p class="card-text">قیمت💰:<strike> {{product.price|intcomma}} </strike> --{{product.sale_price |intcomma }}</p>
                      {% else %}
                      <p class="card-text">قیمت💰:{{product.price|intcomma}}</p>
                      {% endif %}
                      تعداد:
                      <br><br><br><br><br><br><br>


                      <a href="{% url 'home' %}"  class='btn btn-secondary' > بازگشت به صفحه اصلی </a>


                     
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <br><br><br><br><br>
         {% endblock %}