{% extends 'base.html' %}

    {% block content %}

        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder"> ثبت نام</h1>
                    <p class="lead fw-normal text-white-50 mb-0">اطلاعات خود را در فرم زیر وارد کنید</p>
                </div>
            </div>
        </header>
        <br><br><br><br><br><br>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <p align="justify">
                        <p>

                            <form  method="POST" action="{% url 'login' %}" >
                                {% csrf_token %}

                                  {{ form.as_p }}
                                
                                <button type="submit" class="btn btn-primary">ثبت نام</button>
                              </form>
                        </p>

                    </div>
                </center>

            </div>
        </div>
        <br><br><br><br>
         {% endblock %}